<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <div class="my-3">
    </div>
    <div layout:fragment="tmp" class="container my-3">
        <div class="row flex-nowrap overflow-auto">
            <div class="col-md-4">
                <div class="card mx-2 my-3">
                    <div class="card-body">
                        <h5 class="card-title">너진똑</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="360" src="https://www.youtube.com/embed/lc-1G9q6jJo?si=sO5QYWrGegInwGye" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 추가적인 카드들을 동일한 구조로 추가합니다. -->
            <div class="col-md-4">
                <div class="card mx-2 my-3">
                    <div class="card-body">
                        <h5 class="card-title">사피엔스</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="360" src="https://www.youtube.com/embed/Uxn5UIuhRvw?si=WUkq-XjtaFeRbJt1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 추가적인 카드들을 동일한 구조로 추가합니다. -->
            <div class="col-md-4">
                <div class="card mx-2 my-3">
                    <div class="card-body">
                        <h5 class="card-title">총,균,쇠</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="360" src="https://www.youtube.com/embed/Fc57q4CpdWQ?si=IbKtdBl_Ls_WSOsm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3">
        <div class="my-3" style="border-radius: 1rem;">
            <h1 class="bd-title mb-0 text-light">Foreign Literary Ranking</h1>
        </div>
    </div>

    <div class="mb-3">
    <table class="my-3 table text-center">
        <thead class="table-light">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>저자</th>
            <th>평점 평균</th>
<!--            <th>삭제</th>-->
        </tr>
        </thead>
        <tr th:each="foreignBook, loop : ${combinedList}">
            <td class="text-light" th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/ibookleague/foreignbook/detail/${foreignBook.id}|}" th:text="${foreignBook.subject}"></a>
            </td>
            <td class="text-light" th:text="${foreignBook.author}"></td>
            <td class="text-light" th:text="${foreignBook.calculateAvg()}"></td>
<!--            <td href="javascript:void(0);" th:data-uri="@{|/ibookleague/foreignbook/delete/${foreignBook.id}|}"-->
<!--                class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></td>-->
        </tr>
        </tbody>
    </table>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>