<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <div class="d-flex justify-content-center">
        <div class="my-3" style="border-radius: 1rem;">
            <h1 class="bd-title mb-0 text-light">노벨문학상</h1>
        </div>
    </div>

    <div class="mb-3">
    <table class="my-3 table text-center">
        <thead class="table-light">
        <tr>
            <th>수상연도</th>
            <th>제목</th>
            <th>저자</th>
            <th>평점 평균</th>
<!--            <th>삭제</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="foreignBook, loop : ${winNobelBooks}">
<!--            <td class="text-light" th:text="${loop.count}"></td>-->
            <td class="text-light" th:text="${foreignBook.winNobelYear}"></td>
            <td>
                <a th:href="@{|/ibookleague/foreignbook/detail/${foreignBook.id}|}" th:text="${foreignBook.subject}"></a>
            </td>
            <td class="text-light" th:text="${foreignBook.author}"></td>
            <td class="text-light" th:text="${foreignBook.calculateAvg()}"></td>
<!--            <td href="javascript:void(0);" th:data-uri="@{|/ibookleague/foreignbook/delete/${foreignBook.id}|}"-->
<!--                class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></td>-->
        </tr>
        </tbody>
    </table>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>